@main("Contact") {

  @* HTML content to be added to the main template *@

  <div class="jumbotron">
    <div class="container">
      <div class="container-fluid bg-grey">
        <h2 class="text-center">CONTACT</h2>
        <div class="row">
          <div class="col-sm-5">
            <p>Contact us and we'll get back to you within 24 hours.</p>
            <p><span class="glyphicon glyphicon-map-marker"></span> Dublin, Ireland</p>
            <p><span class="glyphicon glyphicon-phone"></span> +00 1515151515</p>
            <p><span class="glyphicon glyphicon-envelope"></span> myemail@@something.com</p> 
          </div>
          <div class="col-sm-7">
            <div class="row">
              <div class="col-sm-6 form-group">
                <input class="form-control" id="firstName" name="firstName" placeholder="First Name" type="text" required>
              </div>
              <div class="col-sm-6 form-group">
                <input class="form-control" id="lastName" name="LastName" placeholder="Last Name" type="text" required>
              </div>
              <div class="col-sm-12 form-group">
              <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
            </div>
            <div class="col-sm-12 form-group">
              <input class="form-control" id="subject" name="subject" placeholder="Subject" type="text" required>
            </div>
            </div>
            <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="8"></textarea><br>
            <div class="row">
              <div class="col-sm-12 form-group">
                <button class="btn btn-default pull-right" type="submit">Send</button>
              </div>
            </div> 
          </div>
    </div>
  </div>
  </div>
}
