@main("Home") {
<!-- Bootsrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  @* HTML content to be added to the main template *@
  <div class="jumbotron">
    <div class="container">
  <h3>
    Core Desing is a professional web design and online applicatio development company based in Dublin, Ireland
  </h3>
  <h4>
    We specialise in the following areas:
  </h4>
  <ul>
    <li>Web Design</li>
    <li>Content Management</li>
    <li>Web and application development</li>
    <li>Ecommerce and payment</li>
    <li>Security</li>
    <li>Search Engine Optimisation</li>
  </ul>

  <p>
    Please <a href="@routes.HomeController.contact()">contact us</a>
    to discuss your requirements
  </p>
  </div>
  </div>
}
